.jumbotron{
    height: 450px;
    background: #293f50;
    width: 100%;
    border-radius: 0%;
}
.container{
    margin: auto;
    max-width: 1200px;
}
h1{
    color:#648880;
    font-weight: 100;
    font-size: 36px;
}
p{
    font-size: 24px;
    font-weight: 100;
    color: white;
    margin-bottom: 20px;
}
.btn{
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
    border-color: white;
    height: 60px;
    padding: 10px 30px;
}
.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}
.btn:hover{
    color: #648880;
    background-color: white;
}
.date{
    color:#648880;
    float:right;
    font-size: 25px;
}
.nav-link:hover{
    color: #648880;
    border-color: white;
}
.fakeimg {
    height: 200px;
    width: 280px;
    background: #aaa;
}
.nav-link{
    color:white;
    text-transform: uppercase
}
.subtext{
    font-size: 16px;
    color: #888888;
    margin-bottom: 20px;
}
.footer{
    margin-top: 30px;
    height: 20px;
    
}
.line {
    color:#648880;
    height: 10px;
    
}
h3{
    font-size: 48px;
    color: white;
    font-weight: 50;
}
.title{
    font-size: 20px;
    color: #648880;
    font-weight: 300;
}
h5, img{
    margin-bottom: 20px;
}
.container{
    display: flex;
}
.bottom{
    text-transform: none;
    font-size: 14px;
}
.copyright{
    color:#648880;
    font-size: 16px;
    float: left;
}
img{
    border-radius: none;
}
h5{
    font-size: 14px;
    color: #a9b2b9;
    font-weight: 400;
}
.title:hover{
    color: #a9b2b9;
}
.row{
    padding: 15px;
}
